.privacy-page{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.grid-container-privacy-policy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 66px auto;
}

.privacy-container{
    grid-column: span 3;
    text-align: center;
    max-width: 60%;
    margin: 80px auto;
}

h1.privacy-title-text{
    color: #676669;
    font-size: 60px;
}

div.privacy-description-text{
    color: #fff;
    font-size: 20px;
    text-align: left;
}

.privacy-container{
    margin: 1em auto;
}

.privacy-description{
    margin-top: 5em;
}

@media screen and (max-width: 995px) {
    .privacy-container{
        grid-column: span 3;
        text-align: center;
        max-width: 80%;
        margin: 80px auto;
    }

    h1.privacy-title-text{
        font-size: 40px;
    }

}