.sentiment-analysis-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.grid-container-analysis{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    margin: 100px auto;
}

.sentiment-analysis-loading{
    grid-column: span 3;
    margin-top: 0 auto;
    padding-bottom: 60px;
    text-align: center;
}

.text-bar{
    grid-column: span 3;
    margin-top: 0 auto;
    padding-bottom: 60px;
    text-align: center;
    color: #fff;
}

.sentiment-analysis-Searchbar{
    grid-column: span 3;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sentiment-analysis-Categories{
    grid-column: span 4;
    margin: 20px auto;
    text-align: center;
}

.cards-category-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    align-items: center;
    max-width: 1000px;
    margin: 70px auto;
}

.cards-category-grid .cards-category{
    background-color: #242424;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 800;
    -webkit-box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
    -moz-box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
    box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
}

.category-cate{
    color: #585858;
}

.cards-category-grid .cards-category .category-title{
    font-weight: 800;
}

/* Responsive */

@media screen and (max-width: 1040px){
    .cards-category-grid{
        max-width: 900px;
    }
}

@media screen and (max-width: 995px) {
    .cards-category-grid {
        grid-template-columns: 1fr 1fr;
        max-width: 500px;
    }
}

@media screen and (max-width: 620px) {
    .cards-category-grid {
        grid-template-columns: 1fr;
        max-width: 400px;
    }
}


@media screen and (max-width: 400px) {
    .cards-category-grid {
        grid-template-columns: 1fr;
        max-width: 200px;
    }
}



