.text-to-image-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.grid-container-text{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    margin: 100px auto;
    /* flex: 1; */
}

.text2image-inputbar{
    grid-column: span 3;
    margin-top: 20px auto;
    text-align: center;
}

#outlined-basic{
    background-color: #fff;
    border-radius: 8px;
}

.css-18eqq4s-MuiButtonBase-root-MuiButton-root {
    border: 1px solid #fff !important;
    border-color: #fff !important;
    color: #fff !important;
    padding: 5px 20px;
    transition: 0.3s !important;
}
.css-1ud0o44 {
    border: 1px solid #fff !important;
    border-color: #fff !important;
    color: #fff !important;
    padding: 5px 20px;
    transition: 0.3s !important;
}

.css-18eqq4s-MuiButtonBase-root-MuiButton-root:hover {
    padding: 5px 30px;
    background-color: #fff;
    color: #242424 !important;
    -webkit-box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
    -moz-box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
    box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
    
}
.css-1ud0o44:hover {
    padding: 5px 30px;
    background-color: #fff;
    color: #242424 !important;
    -webkit-box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
    -moz-box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
    box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
    
}

.text2image-loading{
    grid-column: span 3;
    margin-top: 0 auto;
    padding-bottom: 60px;
    text-align: center;
}

.text2image-images{
    grid-column: span 3;
    margin-top: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.text-title-image{
    color: #fff;
}

svg.MuiSvgIcon-root{
  fill: #525151 !important; 
}

svg.MuiSvgIcon-root:hover{
  fill: #fff !important;
  transition: 0.2s; 
}

.image-list{
    border-radius: 8px;
}

.image-list:hover{
    -webkit-box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
    -moz-box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
    box-shadow: -1px 0px 8px 1px rgba(255,255,255,1);
    transition: 0.2s;
}